<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"> World Recipes </a>
      <a class="nav-link" style="color: azure;" href="/recipeList"> Recipe List</a>
      <a class="nav-link" style="color: azure;" href="/create-recipe"> Create recipe</a>
      <a class="nav-link" style="color: azure;" href="/update-recipe"> Update recipe</a>
    </nav>
  </header>
  
  